extends ../layout

block content
    .row
        .col-xl-5.col-lg-6.col-md-7
            h4 #{property.name}
            p.lead #{property.support_email}
                
block scripts
    script.
        $(document).ready(function () {

        });
