extends ../layout

block content
  a.btn.btn-success.mb-2(href='/p/create') Create New Property
  
  if properties.length
    ul.list-group
      each property in properties
        li.list-group-item
          a(href='/p/'+property.id) #{property.name} 
          strong Type:
              span 
              | #{property.type}
          br
          a.btn.btn-primary(href='/p/'+property.id+'/m') Messaging 
          | 
          a.btn.btn-primary(href='/p/'+property.id+'/t') Tickets 
          | 
          a.btn.btn-primary(href='/p/'+property.id+'/s') Settings
          // a(href='/p/'+property.id+'/update') Edit
          // a(href='/p/'+property.id+'/delete') Delete
  else
    p No properties, Create one now
