extends ../application

block main
    .container(style="padding-top:50px")
        .row.d-flex.justify-content-center
            .col-xl-5.col-lg-6.col-md-7.text-center
                h3 HelpDesk
                p.lead A verification email has been sent to 
                strong #{user.email}
                br 
                a(href='/') Home        


block scripts
    script.
        $(document).ready(function () {

        });
