extends ./layout

block tab
  form(method='POST' action='/p/'+property._id+'/update')
    div.form-group
      label(for='name') Name:
      input#name.form-control(type='text', placeholder='Property Name' name='name' required='true' value=(undefined === property ? '' : property.name) )

    div.form-group
      label(for='support_email') Support Email:
      input#support_email.form-control(type='email', placeholder='Support Email' name='support_email' required='true' value=(undefined === property ? '' : property.support_email) )

    div.form-group
      label(for='type') Type:
      select#type.form-control(type='select', placeholder='Select Type' name='type' required='true' )
        option(value='Site' selected=(undefined === property || property.type != 'Site' ? false : 'selected')) Site
        option(value='Page' selected=(undefined === property || property.type != 'Page' ? false : 'selected')) Page

    button.btn.btn-primary(type='submit') Save
