extends ../layout

block content
  h4 Settings #{property.name}
  ul.nav.nav-tabs
    li.nav-item
      a.nav-link(href='/p/'+property._id+'/s', class=('/p/'+property._id+'/s/') === (req.baseUrl+req.path)? 'active' : '') General
    li.nav-item
      a.nav-link(href='/p/'+property._id+'/s/members' class=('/p/'+property._id+'/s/members') === (req.baseUrl+req.path)? 'active' : '') Members
    li.nav-item 
      a.nav-link(href='/p/'+property._id+'/s/tickets' class=('/p/'+property._id+'/s/tickets') === (req.baseUrl+req.path) ? 'active' : '') Ticket
    li.nav-item
      a.nav-link(href='#' tabindex='-1' aria-disabled='true') Departments
    li.nav-item
      a.nav-link(href='/p/' + property._id + '/s/livechat' class=('/p/' + property._id + '/s/livechat') === (req.baseUrl + req.path) ? 'active' : '') LiveChat
      
  .card(style="border-top: initial;border-radius: initial;")
    .card-body
        block tab
            
