extends ./layout

block tab
  textarea.form-control(rows=14)
    | <!--Start of LiveChat Embed Script-->
    | <script type="text/javascript">
    | (function(){
    | var s1=document.createElement("script"),
    | s0=document.getElementsByTagName("script")[0];
    | s1.async=true;
    | s1.src='#{PROTOCOL}://#{HOST}:#{PORT}/livechat/#{property.id}/embed';
    | s1.charset='UTF-8';
    | s1.setAttribute('crossorigin','*');
    | s0.parentNode.insertBefore(s1,s0);
    | })();
    | </script>
    | <!--End of LiveChat Embed Script-->
