doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(href='https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600' rel='stylesheet')
    // End GOOGLE FONT
    // BEGIN PLUGINS STYLES
    link(rel='stylesheet' href='/vendor/open-iconic/css/open-iconic-bootstrap.min.css')
    link(rel='stylesheet' href='/vendor/fontawesome/css/all.css')
    block styles_plugin
    // END PLUGINS STYLES
    // BEGIN THEME STYLES
    link(rel='stylesheet' href='/stylesheets/theme.min.css' data-skin='default')
    //link(rel='stylesheet' href='assets/stylesheets/theme-dark.min.css' data-skin='dark')
    link(rel='stylesheet', href='/stylesheets/style.css')
    // END THEME STYLES
    block styles
  body

    block main
    if (error && error.length > 0)
      br
      h4.error-msg= error
      br

    // BEGIN BASE JS
    script(src='/vendor/jquery/jquery.min.js')
    script(src='/vendor/bootstrap/js/popper.min.js')
    script(src='/vendor/bootstrap/js/bootstrap.min.js')
    // END BASE JS
      
    // BEGIN PLUGINS JS
    script(src='/vendor/pace/pace.min.js')
    script(src='/vendor/stacked-menu/stacked-menu.min.js')
    script(src='/vendor/perfect-scrollbar/perfect-scrollbar.min.js')
    block  scripts_plugin
    // END PLUGINS JS
      
    // BEGIN THEME JS
    script(src='/javascript/theme.min.js')
    // END THEME JS
    
    // BEGIN PAGE LEVEL JS 
    block scripts
    // END PAGE LEVEL JS  
