extends application

block main
  .container(style="padding-top:50px")
    .row.d-flex.justify-content-center
      .col-xl-5.col-lg-6.col-md-7.text-center
        h3 HelpDesk
        if info
          pre #{info.message}
        p.lead Forgot Password.
        form(role='form', action="/password_reset", method="post")
          .form-group
            input.form-control#username(type='text', name="email", placeholder='Account Email' value='' required='true')
          .form-group
            input.form-control.btn.btn-primary(type='submit', value='Reset Password')
            
        a(href='/login') Login
      

block scripts
  script.  
      let a = '';
