extends application

block main
    main.auth
        // form
        form.auth-form.auth-form-reflow(role='form', action="/password_reset", method="post")
            .text-center.mb-4
                .mb-4
                    img.rounded(src='/apple-touch-icon.png' alt='' height='72')
                h1.h3  Reset Your Password
                if info
                    p #{info.message}
            p.mb-4
                | Tempora iusto officia magnam fugiat sequi aliquam cum consectetur aperiam beatae, rerum obcaecati ea.
            // .form-group
            .form-group.mb-4
                label.d-block.text-left(for='inputUser') Username
                input#inputUser.form-control.form-control-lg(type='text' required='' autofocus='' name="email", placeholder='Account Email' value='')
                p.text-muted
                    small We&apos;ll send password reset link to your email.
            // /.form-group
            // actions
            .d-block.d-md-inline-block.mb-2
                button.btn.btn-lg.btn-block.btn-primary(type='submit') Reset Password
            .d-block.d-md-inline-block
                a.btn.btn-block.btn-light(href='/login') Return to signin
        // /.auth-form
        footer.auth-footer.mt-5
            | &copy; 2018 All Rights Reserved. Loper is Responsive Admin Theme build on top of latest Bootstrap 4. 
            a(href='/privacy') Privacy
            |  and 
            a(href='/tos') Terms
                  
        
