extends application

block main
  .container(style="padding-top:50px")
    .row.d-flex.justify-content-center
      .col-xl-5.col-lg-6.col-md-7.text-center
        h3 HelpDesk
        if info
          pre #{info.message}
        p.lead Log in to your account.
        form(role='form', action="/login", method="post")
          .form-group
            input.form-control#username(type='text', name="email", placeholder='Username or Email' value='' required='true')
          .form-group
            input.form-control(type='password', name="password", placeholder='Password', value='' required='true')
          .form-group
            input.form-control.btn.btn-primary(type='submit', value='Log In')
          
            
        a(href='/register') Register
        | 
        a(href='/password_reset') Forgot Password?
      

block scripts
  script.  
      let a = '';
