extends ../layout

block content
  a(href='t/create') Create New Ticket
  br
  br
  
  h4 Tickets
  if tickets.length
    ul
      each ticket in tickets
        li
          a(href='t/'+ticket.id) #{ticket.subject} 
          br
          strong Description 
          span #{ticket.issue}
          br
          strong Date 
          span #{ticket.createdAt}
          br
          strong Contact 
          span #{ticket.contact.email}
  else
    p No tickets, Create one now
