extends ../layout

block content
  link(rel='stylesheet', href='/stylesheets/conversations.css')
  .messaging
    my-element(disabled="disabled")
    .inbox_msg
      .inbox_people
        .headind_srch
          .recent_heading
            h4 Recent
          .srch_bar
            .stylish-input-group
              input.search-bar(type='text', placeholder='Search')
              span.input-group-addon
                button(type='button')
                  i.fa.fa-search
        .inbox_chat
          each conversation in conversations.length ? conversations : ['There are no Conversations yet']
            .chat_list.active_chat
              .chat_people
                .chat_img
                  img(src="https://ptetutorials.com/images/user-profile.png" alt="sunil")
                .chat_ib
                  h5 
                    a(href='m/'+conversation._id) SSAda ajdkjwd
                    span.chat_date Dec 25
                  p #{conversation.title}
      .mesgs
        .msg_history
          .incoming_msg
            .incoming_msg_img
              img(src="https://ptetutorials.com/images/user-profile.png" alt="sunil")
              
            .received_msg
              .received_withd_msg
                p this is the message content
                span.time_date 11:01 AM    |    June 9
            .outgoing_msg
              .sent_msg
                p this is the outgoing message content
                span.time_date 11:01 AM    |    June 9
                
        .type_msg
          .input_msg_write
            input.write_msg(type='text', placeholder="Type a message")
            button.msg_send_btn(type='button')
              i.fa.fa-paper-plane
  

block scripts
  script.
    var name;
    // load components
    // implement components apis
