extends ../layout

block content
  br
  br
  h4 Conversations
  if conversations.length
    each conversation in conversations
      h5
        a(href='m/' + conversation.id) SSAda ajdkjwd
        span.chat_date Dec 25
      p #{conversation.title}
  else
    p No Active Conversations
    a(href='') Sim One Now
     
block scripts
  script.
    var name;
