extends ../layout

block content
  h4 Notifications
  if notifications.length
    ul.list-group
      each notification in notifications
        li.list-group-item
          a(href='n/' + notification.id) #{notification.action} 
          span #{notification.createdAt.toLocaleString()}
          case notification.action
              when 'INVITED'
                p You have a new invite as an #{notification.modelRef.role} to #{notification.modelRef.property.name}
              default
                p undefined action message !!
  else
    p No notifications
    
     
block scripts
  script.
    var name;
