extends ../layout

block content
  h4 Notifications
  if notifications.length
    each notification in notifications
      h5
        a(href='n/' + notification.id) #{notification.action} 
        span.chat_date #{conversation.createdAt}
  else
    p No notifications
    
     
block scripts
  script.
    var name;
