extends ../layout

block tab
  button.btn.btn-default Invite New
  if members.length
    ul
      each member in members
        li
          a(href=member.id) #{member.account.username} 
          | #{member.role} 
          | #{member.status} 
          
          
  else
    p No Members Yes
